@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, dim;
}

@layer base {
    :root {
        --color-text-base: rgb(24 24 27);
        --color-text-inverted: rgb(244 244 245);
        --color-background: #f4f4f5;
        --color-background-hover: #e4e4e7;
        --color-background-inverted: #27272a;
        --color-background-inverted-hover: #71717a;
        --color-background-focus: rgb(255 255 255);
    }
}

body * {
    @apply transition-colors duration-200;
}

html {
    font-family: 'Poppins', sans-serif;
}

@utility pbx-input {
    @apply input block w-full input-neutral col-span-2;
}
